Debug
m4
*.iml
*.cache
*~
*.o
.deps
.anjuta*
.idea*
.project*
Makefile.in
Makefile
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.swp
CreditSwissElevator
*.log
*.status
libtool

